<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DocTranslatorWeb</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>@ViewData["Title"]</h2>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div style="font-size:x-small;">
                @DocumentTranslatorWeb.Utilities.StateHelper.HostingEnvironment.DebugString() <br/>
                cobbled together by <a href="https://www.twitter.com/devfish">@@devfish</a>
                </div>
        </footer>
    </div>
</body>
</html>
