@page
@model DocViewersWeb.Pages.GViewIFrameModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GViewIFrame</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2 style="background-color:yellow;">Google Viewer to DOC in IFrame</h2>
    <iframe style="width:1000px;height:1000px;"
            class="doc" src="https://docs.google.com/gview?url=https://docviewers.azurewebsites.net/content/history.doc&embedded=true"></iframe>

</body>
</html>
