@page
@model DocViewersWeb.Pages.IndexModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2>Viewer Experiments</h2>
    <div>
        <strong>history as .pdf .doc and .docx</strong>
        <ul>
            <li>PDF using built in browser controls - <a href="~/content/history.pdf">~/content/history.pdf</a></li>
            <li>PDFJS via cdnjs - canvas plus built in browser controls - <a href="~/scripts/pdfjs.2.0.943/web/viewer.html?file=/content/history.pdf">PDFJSDemo</a></li>
            <li>Word <span style="background-color:yellow;">DOC</span> via google viewer - <a href="https://docs.google.com/gview?url=https://docviewers.azurewebsites.net/content/history.doc&embedded=false">google viewer</a></li>
            <li>Word <span style="background-color:yellow;">DOC</span> via google viewer in an iframe - <a href="./GViewIFrame">google viewer in iframe</a></li>
            <li>Word <span style="background-color:aquamarine;">DOCX</span> via google viewer - <a href="https://docs.google.com/gview?url=https://docviewers.azurewebsites.net/content/history.docx&embedded=false">google viewer</a></li>
            <li>Word <span style="background-color:aquamarine;">DOCX</span> via google viewer in an iframe - <a href="./GViewIFrameDocX">google viewer in iframe</a></li>
        </ul>
    </div>
    <div>
        <strong>Resources</strong>
        <ul>
            <li>PDFJS - <a href="https://www.codediesel.com/javascript/rendering-pdf-in-html5-canvas/">https://www.codediesel.com/javascript/rendering-pdf-in-html5-canvas/</a></li>
            <li>JSFiddle - <a href="http://jsfiddle.net/kbu2gsfm/">http://jsfiddle.net/kbu2gsfm/</a></li>
        </ul>
    </div>
</body>
</html>